#!/bin/bash

if [ "$(uname -s)" = "Linux" ]; then
    alias ls="ls -GFh --color"
else
    alias ls="ls -GFh"
fi

alias ll="ls -la"

# Copy pwd to clipboard
alias cpwd="pwd|tr -d '\n'|pbcopy"

alias reload="source ~/.zshrc"

alias paths='echo -e ${PATH//:/\\n}'

# Network
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipl="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias whois="whois -h whois-servers.net"

alias hosts="sudo $EDITOR /etc/hosts"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"

## pyenv virtualenv 
alias activate="pyenv activate"
alias deactivate="pyenv deactivate"
