#!/bin/bash

# OS specific exports
if [ "$(uname -s)" = "Darwin" ]; then 
    # Lock the screen (when going AFK)
    alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
    # Recursively delete `.DS_Store` files
    alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"
    # To let pyenv play nice with brew@
    alias brew='env PATH=${PATH//$(pyenv root)\/shims:/} brew'
else
    # Show CPU temperature with sensors.
    alias cputemp='watch -n 0 "sensors | grep Core"'
    # Show GPU temperature with NVIDIA System Management Interface.
    alias gputemp='watch -n 0 "nvidia-smi -q -d temperature"'
fi

# Reload shell
alias reload="source ~/.zshrc"
alias reload!='RELOAD=1 source ~/.zshrc'

# Remove broken symlinks
alias clsym="find -L . -name . -o -type d -prune -o -type l -exec rm {} +"

# Recursively delete __pycache__ dir files (exclude .venv)
alias pyclean='find . -type d -name ".venv" -prune -o -name __pycache__ -ls -exec rm -r {} \+'

# Copy pwd to clipboard
alias cwd="pwd|tr -d '\n'|pbcopy"

# File size
alias fs="stat -f \"%z bytes\""

# Paths by column
alias paths='echo -e ${PATH//:/\\n}'

# Network
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ipl="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias whois="whois -h whois-servers.net"
alias hosts="sudo $EDITOR /etc/hosts"
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"
