#!/bin/bash

# Show CPU temperature with sensors.
alias cputemp='watch -n 0 "sensors | grep Core"'

# Show GPU temperature with NVIDIA System Management Interface.
alias gputemp='watch -n 0 "nvidia-smi -q -d temperature"'