#!/bin/bash

export FIGNORE=DS_Store
export JAVA_HOME=`/usr/libexec/java_home`

# PATH
export PATH="/usr/local/sbin:$PATH"
export PATH=$JAVA_HOME/bin:$PATH
export PATH="/Users/dank0/Library/Python/3.7/bin:$PATH"